<div class="row" ng-if="foundItemsControl.isItemsExist()">
  <div class="col">
    <table class="table table-hover table-bordered ">
      <thead>
        <tr>
          <th>#</th>
          <th>Short Name</th>
          <th>Description</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in foundItemsControl.items">
          <td>{{$index+1}}</td>
          <td>{{item.short_name}}</td>
          <td>{{item.description}}</td>
          <td>
            <button class="btn btn-primary"
            ng-click="foundItemsControl.onRemove({index: $index});">Don't want this one!</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <div class="row"
  <div class="error" ng-if="!foundItemsControl.isItemsFound()"> Nothing found! </div>
</div> -->
<items-not-found ng-if="!foundItemsControl.isItemsFound()" message={{foundItemsControl.message}}></items-not-found>
